body {
    font-family: 'Lato', sans-serif;
}

#itemsSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "";
}

.itemTile{
    border: solid;
    margin: 10px;
    width: 350px;
    height: 400px;
}

.itemIMG{
    max-width: 300px;
    max-height: 300px;
    grid-area: Img;
    margin: 10px;
}

.itemH2{
    grid-area: h2;
}

.itemDescription{
    grid-area: p;
}

#detailSection {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: rgb(51, 51, 51);
    width: 100%;
    border-radius: 15px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    grid-template-areas: 
    "";
}

#detailH2 {
    grid-area: detailH2;
}

#detailLender {
    grid-area: detailLender;
}

#detailDescription {
    grid-area: detailDescription;
}

#detailButtonAusleihen {
    grid-area: detailButtonAusleihen;
}

#detailButtonCancel {
    grid-area: detailButtonCancel;
}