body {
    font-family: 'Lato', sans-serif;
}

#itemsSection {
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.itemTile{
    border: solid rgba(170, 170, 170, 0.596);
    margin: 10px;
    width: 340px;
    height: 400px;
}

.itemIMG{
    max-width: 310px;
    max-height: 250px;
    grid-area: Img;
    margin: 10px;
}

.itemH2{
    margin: 10px;
}

.itemDescription{
    margin: 10px
}

#detailSection {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "Img h2"
    "Img l"
    ". d"
    "a c";
    width: 100%;
}

#detailIMG{
    grid-area: Img;
}

#detailH2 {
    grid-area: h2;
}

#detailLender {
    grid-area: l;
}

#detailDescription {
    grid-area: d;
}

#detailButtonAusleihen {
    grid-area: a;
}

#detailButtonCancel {
    grid-area: c;
}