body {
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: ". h ." ". m ." ". . .";
}

.friendRequest {
    display: flex;
    padding: 20px;
}

#friends {
    display: flex;
}

#friends div {
    width: 25%;
}

.friendTile {
    grid-area: friendTile;
}

.friendRequest p {
    margin: 20px;
    font-size: 32px;
}

.friendRequest button {
    size: 30px;
    width: 100px;
    height: 50px;
    align-self: center;
    margin: 20px;
    text-decoration: none;
    background-color: transparent;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
}

#otherUsers button {
    size: 30px;
    width: 150px;
    height: 30px;
    align-self: center;
    margin: 20px;
    text-decoration: none;
    background-color: transparent;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
}

.userTile {
    border-bottom: solid;
}

img {
    width: 25%;
    height: 25%;
    min-width: 100px;
    min-height: 100px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

header {
    grid-area: h;
    padding-bottom: 0;
    padding-top: 5vh;
}

#friend-request {
    grid-area: friend-request;
}

#friends {
    grid-area: friends;
}

#otherUsers {
    grid-area: otherUsers;
}

main {
    display: grid;
    grid-template-areas: "friend-request" "friends" "otherUsers";
    grid-template-rows: auto;
    padding: 0;
    margin-top: 0;
    grid-area: m;
}